/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/*@font-face {
    font-family: 'JLEERegular';
    src: url('/css/fonts/jlee-webfont.eot');
    src: url('/css/fonts/jlee-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/jlee-webfont.woff') format('woff'),
         url('/css/fonts/jlee-webfont.ttf') format('truetype'),
         url('/css/fonts/jlee-webfont.svg#JLEERegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'LondrinaSolidRegular';
    src: url('/css/fonts/londrinasolid-regular-webfont.eot');
    src: url('/css/fonts/londrinasolid-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/londrinasolid-regular-webfont.woff') format('woff'),
         url('/css/fonts/londrinasolid-regular-webfont.ttf') format('truetype'),
         url('/css/fonts/londrinasolid-regular-webfont.svg#LondrinaSolidRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'OpenSansCondensedBold';
    src: url('/css/fonts/opensans-condbold-webfont.eot');
    src: url('/css/fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-condbold-webfont.woff') format('woff'),
         url('/css/fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('/css/fonts/opensans-condbold-webfont.svg#OpenSansCondensedBold') format('svg');
  font-weight: normal;
    font-style: normal;         
}
@font-face {
  font-family: 'OpenSansCondensedLightRegular';
    src: url('/css/fonts/opensans-condlight-webfont.eot');
    src: url('/css/fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-condlight-webfont.woff') format('woff'),
         url('/css/fonts/opensans-condlight-webfont.ttf') format('truetype'),
         url('/css/fonts/opensans-condlight-webfont.svg#OpenSansCondensedLightRegular') format('svg');
  font-weight: normal;
    font-style: normal;         
}
@font-face {
  font-family: 'OpenSansCondensedLightItalic';
    src: url('/css/fonts/opensans-condlightitalic-webfont.eot');
    src: url('/css/fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-condlightitalic-webfont.woff') format('woff'),
         url('/css/fonts/opensans-condlightitalic-webfont.ttf') format('truetype'),
         url('/css/fonts/opensans-condlightitalic-webfont.svg#OpenSansCondensedLightItalic') format('svg');
  font-weight: normal;
    font-style: normal;         
}
*/

/*div.graphic_container div.graphic div.gallery {
  position: relative;
}
div.graphic_container div.graphic div.gallery div.gallery_item {
  display: none;
}
div.graphic_container div.graphic div.gallery div.gallery_item.active {
  display: block;
}
div.graphic_container div.graphic div.gallery div.menu {
  position: absolute;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
div.graphic_container div.graphic div.gallery div.menu div.menu_item {
  margin: 0 2px;
  width: 10px;
  height: 10px;
  float: left;
  cursor: pointer;
  text-indent: -50px;
  overflow: hidden;
  font: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background-color: #E8C873;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
div.graphic_container div.graphic div.gallery div.menu div.menu_item:hover,
div.graphic_container div.graphic div.gallery div.menu div.menu_item.active {
  background-color: #FFF;
}
*/


.branding {
  /*background-image: url('branding.png');*/
  /*background-repeat:no-repeat;*/
  font-size: 6.25em;
  font-weight:  500;
  font-family: 'Londrina Solid', helvetica, arial, sans-serif;
  height: 80px;
  text-align: center;
}
/*div.nav_container {
  margin: 0 auto;
  width: 960px;
  height: 41px;
  display: block;
}
div.nav_container ul.navigation {
  list-style-type: none;
}
div.nav_container ul.navigation li {
  display: inline;
}
div.nav_container ul.navigation li a {
  float: left;
  margin-right: 22px;
  font-family: 'Londrina Solid', helvetica, arial, sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #181a1f;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}
div.nav_container ul.navigation li a.home {
  width: 100px;
  height: 41px;
  background-image: url('home_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
div.nav_container ul.navigation li a.home:hover,
div.nav_container ul.navigation li a.home.active {
  color: #fff;
  background-image: url('home_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px -42px;
}
div.nav_container ul.navigation li a.news {
  width: 170px;
  height: 41px;
  background-image: url('news_blog_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
div.nav_container ul.navigation li a.news:hover,
div.nav_container ul.navigation li a.news.active {
  color: #fff;
  background-image: url('news_blog_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px -42px;
}
div.nav_container ul.navigation li a.shows {
  width: 102px;
  height: 41px;
  background-image: url('tour_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
div.nav_container ul.navigation li a.shows:hover,
div.nav_container ul.navigation li a.shows.active {
  color: #fff;
  background-image: url('tour_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px -42px;
}
div.nav_container ul.navigation li a.music {
  width: 107px;
  height: 41px;
  background-image: url('music_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
div.nav_container ul.navigation li a.music:hover,
div.nav_container ul.navigation li a.music.active {
  color: #fff;
  background-image: url('music_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px -42px;
}
div.nav_container ul.navigation li a.videos {
  width: 106px;
  height: 41px;
  background-image: url('video_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
div.nav_container ul.navigation li a.videos:hover,
div.nav_container ul.navigation li a.videos.active {
  color: #fff;
  background-image: url('video_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px -42px;
}
div.nav_container ul.navigation li a.photos {
  width: 129px;
  height: 41px;
  background-image: url('photos_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
div.nav_container ul.navigation li a.photos:hover,
div.nav_container ul.navigation li a.photos.active {
  color: #fff;
  background-image: url('photos_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px -42px;
}
div.nav_container ul.navigation li a.store {
  margin-right: 0;
  /* last item doesn't need margin-right */


  width: 111px;
  height: 41px;
  background-image: url('store_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
div.nav_container ul.navigation li a.store:hover,
div.nav_container ul.navigation li a.store.active {
  color: #fff;
  background-image: url('store_bg_sprite.png');
  background-repeat: no-repeat;
  background-position: 0px -42px;
}
*/
div.post_content_container {
  margin-top: 2px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 595px;
  height: auto;
  background-image: url('../images/news_content_bg.png');
  background-repeat: repeat;
}
div.post_content_container div.post_content {
  text-align: center;
}
div.post_content_container div.post_content div.photo_caption {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16px;
  color: #000;
}
div.post_content_container div.post_content div.photo_caption a {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
div.post_content_container div.post_content div.photo_caption a:hover {
  text-decoration: underline;
}
div.post_content_container div.post_content div.video_caption {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16px;
  color: #000;
  text-align: left;
}
div.post_content_container div.post_content div.video_caption a {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
div.post_content_container div.post_content div.video_caption a:hover {
  text-decoration: underline;
}
div.news_content_container {
  margin-top: 2px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 595px;
  height: auto;
  background-image: url('../images/news_content_bg.png');
  background-repeat: repeat;
}
div.news_content_container div.title_top h2 {
  margin-bottom: 10px;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  color: #818378;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
}
div.news_content_container div.news_content {
  overflow-x: hidden;
}
div.news_content_container div.news_content p {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
div.news_content_container div.news_content p a {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 13px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
div.news_content_container div.news_content p a:hover {
  text-decoration: underline;
}
div.audio_content_container {
  margin-top: 1px;
  padding: 20px;
  width: 595px;
  height: auto;
  background-image: url("/images/tour_dates_content_bg.png");
  background-repeat: repeat;
}
div.audio_content_container div.audio_content div.caption {
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16px;
  color: #818378;
}
div.post_error_content_container {
  margin-top: 2px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 595px;
  height: auto;
  background-image: url('../images/news_content_bg.png');
  background-repeat: repeat;
}
div.post_error_content_container div.post_error_content {
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
  line-height: 16px;
  color: #000;
  text-align: left;
}
div.pagination {
  margin-top: 10px;
}
div.pagination a.prev_page {
  float: left;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 17px;
  color: #000;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
div.pagination a.prev_page:hover {
  text-decoration: underline;
}
div.pagination a.next_page {
  float: right;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 17px;
  color: #000;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
div.pagination a.next_page:hover {
  text-decoration: underline;
}
*/

/*/*/
*/*@import 'main_menu.css';
@import 'homepage_gallery.css';
@import 'posts.css';
@import 'tour.css';

/* =========================================================================
   Reset CSS
/*========================================================================== */
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
}
input:focus { outline:none; }
/* =========================================================================
   Primary Styles
========================================================================== */
body {
  top: 0;
  left: 0;
  min-width: 960px;
  position: relative;
  background-image: url('bg_tile.jpg');
  background-repeat: repeat;
}
/* =========================================================================
   Header Section
========================================================================== */
.header_container {
  margin: 0 auto;
  width: 960px;
  height: 155px;
  display: block;
}
.music_player {
  float: left;
  width: 481px;
  height: 30px;
}
.header_group_right {
  float: right;
  display: block;
}
.facebook {
  float: left;
  margin-right: 15px;
  width: 119px;
  height: 29px;
  background-image: url('facebook_button_background.png');
  background-repeat: no-repeat;
}
div.facebook div.fb-like {
  margin-top: 4px;
  margin-left: 10px;
}
.newsletter {
  float: left;
  margin-right: 15px;
  width: 110px;
  height: 29px;
  background-image: url('newsletter_button.png');
  background-repeat: no-repeat;
}
.newsletter p {
  margin-top: 6px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  cursor: pointer;
}
.contact {
  float: left;
  width: 87px;
  height: 29px;
  background-image: url('contact_button.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
.contact p {
  margin-top: 6px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  cursor: pointer;
}
.branding {
  margin-top: 20px;
}
img.center {
  margin: 0 auto;
  display: block;
}

/* =========================================================================
   Heros Graphic Section
========================================================================== */
.graphic_container {
  margin-top: 12px;
  width: 100%;
  height: 300px;
  background: #181a1f;
  display: block;
}
.graphic {
  margin: 0 auto;
  width: 960px;
  height: 300px;
}
.drop_shadow {
  background: url('hero_shadow.png') top center;
  background-repeat: no-repeat;
  height: 30px;
  display: block;
}
/* =========================================================================
   Homepage Content Section
========================================================================== */
.content_container {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 960px;
  height: auto;
  clear: both;
}
.left_column {
  float: left;
  margin-right: 10px;
  width: 315px;
  height: auto;
  display: block;
}
.middle_column {
  float: left;
  margin-right: 10px;
  width: 310px;
  height: auto;
  display: block;
}
.right_column {
  float: right;
  width: 315px;
  height: auto;
  display: block;
}
.black_header {
  width: 315px;
  height: 60px;
  background-image: url('news_header_bg.jpg');
  background-repeat: repeat-x;
}
.black_header h1 {
  float: left;
  margin-left: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  line-height: 63px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.black_header a:link {
  float: right;
  margin-right: 10px;
  margin-top: 37px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
}
.black_header a:visited {
  color: #818378;
  text-decoration: none;
}
.black_header a:hover {
  color: #818378;
  text-decoration: underline;
}
.black_header a:active {
  color: #818378;
  text-decoration: none;
}
.news_content_module {
  margin-top: 2px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 275px;
  height: auto;
  background-image: url('news_content_bg.png');
  background-repeat: repeat;
}
.news_content_module h2 {
  margin-bottom: 10px;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  color: #818378;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
}
.news_content_module p {
  padding-bottom: 10px;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.news_content_module a {
  font-family: georgia,helvetica,arial,sans-serif;
  font-size: 13px;
  color: rgb(129, 131, 120);
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
.news_content_module a:hover {
  text-decoration: underline;
}

.news_content img {
  margin-bottom: 10px;
}
-------
a.grey {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
a.grey:hover {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
.twitter_content {
  margin-top: 1px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 275px;
  height: auto;
  background-image: url('news_content_bg.png');
  background-repeat: repeat;
}

.twitter_content a {
  font-family: georgia, helvetica, arial, sans-serif;
  color: #818378;
  font-style: italic;
  text-decoration: none;
}
.twitter_content a:hover {
  text-decoration: underline;
}
.twitter_content p {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
a.tweet:link {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
a.tweet:visited {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
a.tweet:hover {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
a.tweet:active {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
.twitter_options_container {
  clear: both;
  margin-top: 15px;
  overflow: hidden;
}
ul.twitter_options {
  list-style-type: none;
}
ul.twitter_options li {
  float: left;
  font-size: 10px;
  color: #282828;
  background: url('bullet.png') no-repeat 6px 3px;
}
ul.twitter_options li.date {
  padding-left: 10px;
  padding-top: 1px;
  font-family:  helvetica, arial, sans-serif;
  font-size: 10px;
  color: #818378;
  font-weight: normal;
  text-transform: uppercase;
  background: none;
}
/* Link States */
ul.twitter_options li.grey_list a {
  padding-left: 15px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 10px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
}
ul.twitter_options li.grey_list a:hover {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 10px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
}
.spacer {
  margin-top: 10px;
}
.instagram_content {
  margin-top: 1px;
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-left: 18px;
  width: 275px;
  height: auto;
  background-image: url('news_content_bg.png');
  background-repeat: repeat;
}
.image_rows {
  padding-bottom: 5px;
  width: 275px;
  height: 65px;
}
.image_rows img.thumb {
  float: left;
  padding-right: 5px;
  width: 65px;
  height: 65px;
}
.image_rows img.thumb_last {
  float: left;
  padding-right: 0px;
  width: 65px;
  height: 65px;
}
/* =========================================================================
   Footer Section
========================================================================== */
.footer_container_top {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  background-image: url('newsletter_signup_bg.png');
  background-repeat: repeat-x;
}
.newsletter_signup_container {
  margin: 0 auto;
  width: 960px;
  height: 40px;
  clear: both;
}
.newsletter_signup_container h2 {
  float: left;
  margin-top: 8px;
  margin-right: 10px;
  font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
}
input.email_address {
  float: left;
  margin-top: 6px;
  margin-right: 10px;
  padding: 5px;
  width: 180px;
  height: 15px;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #403f3f;
  -moz-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6); 
  -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6);
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6);
  border-radius: 0px;
  border: none;
}
input.first_name {
  float: left;
  margin-top: 6px;
  margin-right: 10px;
  padding: 5px;
  width: 170px;
  height: 15px;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #403f3f;
  -moz-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6); 
  -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6);
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6);
  border-radius: 0px;
  border: none;
}
input.last_name {
  float: left;
  margin-top: 6px;
  margin-right: 10px;
  padding: 5px;
  width: 170px;
  height: 15px;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #403f3f;
  -moz-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6); 
  -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6);
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6);
  border-radius: 0px;
  border: none;
}
input.zip_code {
  float: left;
  margin-top: 6px;
  margin-right: 10px;
  padding: 5px;
  width: 85px;
  height: 15px;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #403f3f;
  -moz-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6); 
  -webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6);
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .6);
  border-radius: 0px;
  border: none;
}
input.submit {
  cursor: pointer;
  float: right;
  margin-top: 4px;
  width: 85px;
  height: 33px;
  font-family: 'Londrina Solid', helvetica, arial, sans-serif;
  font-size: 24px;
  color: #fbe6a2;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-image: url('submit_button_bg.png');
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  display: block;
  /*-webkit-appearance: none;*/
}
.footer_container_bottom {
  width: 100%;
  height: 193px;
  background-image: url('footer_bg.jpg');
  background-repeat: repeat-x;
}
.footer_content {
  margin: 0 auto;
  width: 960px;
  display: block;
}
ul.footer_list {
  padding-top: 40px;
  list-style-type: none;
  text-align: center;
}
ul.footer_list li {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
  font-size: 18px;
  color: #fbe6a2;
  text-transform: uppercase;
  border-right: 1px solid;
  border-color: #4c504d;
  display: inline;
}
ul.footer_list li.footer_last {
  padding-right: 0px;
  border-right: none;
}
ul.footer_list li a:link {
  color: #fbe6a2;
  text-decoration: none;
}
ul.footer_list li a:visited {
  color: #fbe6a2;
  text-decoration: none;
}
ul.footer_list li a:hover {
  color: #fbe6a2;
  text-decoration: underline;
}
ul.footer_list li a:active {
  color: #fbe6a2;
  text-decoration: underline;
}
p.disclaimer {
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
a.link_contact {
  padding-left: 20px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #fbe6a2;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  border-left: 1px solid;
  border-color: #4c504d;
}
a.link_contact:hover {
  padding-left: 20px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #fbe6a2;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  border-left: 1px solid;
  border-color: #4c504d;
}
/* =========================================================================
   Inner Content Section
========================================================================== */
.inner_content_container {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
  width: 960px;
  height: auto;
  clear: both;
}
.left_wide_column {
  float: left;
  margin-right: 10px;
  width: 635px;
  height: auto;
  display: block;
}
.black_header_large {
  width: 635px;
  height: 60px;
  background-image: url('news_header_bg.jpg');
  background-repeat: repeat-x;
}
.black_header_large h1 {
  float: left;
  margin-left: 20px;
  font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
  font-size: 48px;
  line-height: 63px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.transparent_header {
  width: 635px;
  height: 60px;
  background-image: url('tour_dates_header_bg.png');
  background-repeat: repeat-x;
}
.transparent_header h1 {
  float: left;
  margin-left: 20px;
  font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
  font-size: 48px;
  line-height: 63px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.music_social_icons, .news_social_icons {
  float: right;
  display: block;
}
.videos_social_icons {
  float: right;
  padding-right: 45px;
  padding-bottom: 10px;
  display: block;
}
.photos_social_icons {
  text-align: center;
  padding-bottom: 10px;
  display: block;
}
.news_item_section {
  margin-top: 1px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 595px;
    height: auto;
  background-image: url('news_content_bg.png');
  background-repeat: repeat;
}
.news_item_content {
  clear: both;
  display: block;
}
.news_item_content p {
  padding-bottom: 20px;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.news_item_content img {
  margin-bottom: 10px;
}
.archive_list_container {
  width: 315px;
  height: auto;
}
ul.archive_list {
  list-style-type: none;
  display: block;
}
li.white_transparent_item a {
  margin-top: 1px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 285px;
  height: auto;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  line-height: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  text-decoration: none;
  background-image: url('archive_white_trans_bg.png');
  background-repeat: repeat;  
  display: block;
}
li.white_transparent_item a:hover {
  margin-top: 1px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 285px;
  height: auto;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  line-height: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  text-decoration: underline;
  background-image: url('archive_white_trans_bg.png');
  background-repeat: repeat;  
  display: block;
}
li.white_item a {
  margin-top: 1px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 285px;
  height: auto;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  background-color: #fff;
  background-repeat: repeat;  
  display: block;
}
li.white_item a:hover {
  margin-top: 1px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 285px;
  height: auto;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #818378;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  background-color: #fff;
  background-repeat: repeat;  
  display: block;
}

.song_art {
  float: left;
  display: block;
}
.audio_player_full {
  float: right;
  display: block;
}
.video_content_container {
  margin-top: 1px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 595px;
    height: auto;
  background-image: url('news_content_bg.png');
  background-repeat: repeat;
}
*/*/*/*/
div.tour_dates_header {
  width: 310px;
  height: 60px;
  background-image: url('tour_dates_header_bg.png');
  background-repeat: repeat-x;
}
div.tour_dates_header h1 {
  float: left;
  margin-left: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  line-height: 63px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
}
div.tour_dates_header a {
  float: right;
  margin-right: 10px;
  margin-top: 37px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #fbe6a2;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
}
div.tour_dates_header a:hover {
  color: #fbe6a2;
  text-decoration: underline;
}
div.tour_dates_content_module {
  margin-top: 1px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 270px;
  height: auto;
  background-image: url('tour_dates_content_bg.png');
  background-repeat: repeat;
}
div.tour_dates_content_module div.dates {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #fbe6a2;
}
div.tour_dates_content_module div.dates p.month {
  margin-top: 10px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #818378;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}
div.tour_dates_content_module div.dates p.day {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 24px;
  line-height: 10px;
  color: #181a1f;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}
div.tour_dates_content_module div.tour_info {
  float: left;
  margin-left: 20px;
  display: block;
  width: 200px;
}
div.tour_dates_content_module div.tour_info p.city {
  padding-bottom: 5px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  color: #f6eee1;
}
div.tour_dates_content_module div.tour_info p.artist {
  padding-bottom: 5px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #fbe6a2;
  font-weight: bold;
  font-style: italic;
}
div.tour_dates_content_module div.tour_info p.sub_artist {
  padding-bottom: 12px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #f6eee1;
}
div.tour_dates_content_module div.tour_info p.more_info {
  margin-left: -8px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 10px;
  color: #f6eee1;
  font-weight: bold;
}
div.tour_dates_content_module div.tour_info p.more_info a {
  padding-right: 8px;
  padding-left: 8px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 10px;
  color: #fbe6a2;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
}
div.tour_dates_content_module div.tour_info p.more_info a:hover {
  text-decoration: underline;
}
div.tour_dates_content {
  margin-top: 1px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 595px;
  height: auto;
  background-image: url('tour_dates_content_bg.png');
  background-repeat: repeat;
}
div.tour_dates_content div.dates {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #fbe6a2;
}
div.tour_dates_content div.dates p.month {
  margin-top: 10px;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: normal;
  color: #818378;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}
div.tour_dates_content div.dates p.day {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 24px;
  line-height: 10px;
  color: #181a1f;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
}
div.tour_dates_content div.tour_info {
  float: left;
  margin-left: 20px;
  display: block;
  width: 280px;
}
div.tour_dates_content div.tour_info p.city {
  padding-bottom: 5px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  color: #f6eee1;
}
div.tour_dates_content div.tour_info p.artist {
  padding-bottom: 5px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 12px;
  color: #fbe6a2;
  font-weight: bold;
  font-style: italic;
}
div.tour_dates_content div.tour_info p.sub_artist {
  padding-bottom: 12px;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #f6eee1;
}
div.tour_dates_content div.more_info {
  float: right;
  display: block;
}
div.tour_dates_content div.more_info p {
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 10px;
  color: #fff;
}
div.tour_dates_content div.more_info a {
  margin-right: 10px;
  margin-left: 10px;
  font-family: georgia, helvetica, arial, sans-serif;
  font-size: 10px;
  color: #fbe6a2;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
}
div.tour_dates_content div.more_info a:hover {
  text-decoration: underline;
}
