
.branding {
  
  /*background-image: url('branding.png');*/
  /*background-repeat:no-repeat;*/
  
  font-size: 6.25em;
  font-weight:  500;
  font-family: 'Londrina Solid', helvetica, arial, sans-serif;
  height: 80px;
  text-align: center;
}
