div.graphic_container div.graphic div.gallery {
  position: relative;
}
div.graphic_container div.graphic div.gallery div.gallery_item {
  display: none;
}
div.graphic_container div.graphic div.gallery div.gallery_item.active {
  display: block;
}
div.graphic_container div.graphic div.gallery div.menu {
  position: absolute;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
div.graphic_container div.graphic div.gallery div.menu div.menu_item {
  margin: 0 2px;
  width: 10px;
  height: 10px;
  float: left;
  cursor: pointer;
  text-indent: -50px;
  overflow: hidden;
  font-face: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background-color: #E8C873;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
div.graphic_container div.graphic div.gallery div.menu div.menu_item:hover,
div.graphic_container div.graphic div.gallery div.menu div.menu_item.active {
  background-color: #FFF;
}
